/* @TODO change color in white when we have the images */

.nav>li>a:focus,
.nav>li>a:hover {
  text-decoration: none;
  background-color: transparent;
  border-bottom: 1px rgb(0, 0, 0) solid;
}

.nav>li>a,
.nav>li>a {
  padding: 8px 8px;
  color: rgb(0, 0, 0);
  border: 0px;
  margin-left: 4px;
}

.navbar {
  border: none;
  z-index: 1;
}

.navbar-transparent {
  background-color: transparent;
  border: none;
}

.navbar-brand {
  color: rgb(0, 0, 0);
}

.navbar-brand:hover,
.navbar-brand:focus {
  color: rgb(0, 0, 0);
}

.navbar-brand {
  font-size: 1.75rem;
}
