@font-face {
  font-family: mioFontSans;
  src: url(../font/SIMPLIFICA-sans.ttf);
}

p,
label,
.serif {
  font-family: "../font/Fanwood-serif.otf";
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
body,
.sans {
  font-family: mioFontSans;
}

html {
  font-size: 16px;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 2rem;
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1.25rem;
}

h6 {
  font-size: 1rem
}

a {
  font-size: 1.5rem;
}
