.navbar-transparent {
  background-color: transparent;
  border-color: transparent;
}

/* @TODO change color in white when we have the images */
.nav > li > a:focus, .nav > li > a:hover {
    text-decoration: none;
    background-color: transparent;
    border: rgb(0, 0, 0) 1px solid;
    border-radius: 20px;
}

.nav > li > a, .nav > li > a {
    padding: 8px 12px;
    color: rgb(0, 0, 0);
    margin: 24px 1px 0px 0px;
}

.navbar-brand {
  color: rgb(0, 0, 0);
}

.navbar-brand {
  color: rgb(0, 0, 0);
}


.navbar-brand:hover {
  color: rgb(0, 0, 0);
}
